

.video {
    width: 63%;
    height: 75%;
    float: left;
    background: rgb(255, 136, 0);
    font-size: 230%;
    text-align: center;
}

.contact {
    width: 37%;
    height: 75%;
    float: right;
    background: rgb(220, 2, 50);
    font-size: 230%;
}

@media only screen and (max-width: 812px) {
    .aside {
        width: 175%;
    }
    .section {
        width: 125%;
    }
    .dark {
        font-size: 50%;
        margin: 0px;
    }
}