

.section {
    width: 63%;
    height: 75%;
    float: left;
    background: rgb(255, 136, 0);
    font-size: 150%;
    text-align: center;
}

.aside {
    width: 37%;
    height:75%;
    float: right;
    background: rgb(220, 2, 50);
    font-size: 150%;
}


.footer {
    width: 100%;
    height: 20%;
    clear: both;
    background: #00b050;
    font-size: 150%;
    text-align: center;
}